<p-dialog header="{{ modalType }} Mortalidad" [(visible)]="displayAddEditModal" [modal]="true" [draggable]="false"
    [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="mortalidadForm" class="mortalidad-mortalidadForm">
        <div class="row">
            <div class="field">
                <label class="block" for="pecesMuertos">Peces Muertos</label>
                <input id="pecesMuertos" class="input" type="text" pInputText formControlName="pecesMuertos">
                <small class="p-error block" *ngIf="mortalidadForm.controls['pecesMuertos'].invalid &&
                    mortalidadForm.controls['pecesMuertos'].dirty">Campo requerido *
                </small>
            </div>
            <div class="field">
                <label class="block" for="observacion">Observaciones</label>
                <input id="observacion" name="observacion" type="text" pInputText formControlName="observacion">
                <small class="p-error block" *ngIf="mortalidadForm.controls['observacion'].invalid &&
                    mortalidadForm.controls['observacion'].dirty">Campo requerido *
                </small>
            </div>
            <div class="field">
                <label class="block" for="loteId">Lote</label>
                <select id="loteId" class="select" name="loteId" formControlName="loteId">
                    <option [ngValue]="null" disabled>Seleccionar una opción</option>
                    <option *ngFor="let lote of lote" [value]="lote.id"> {{ lote.lote }}</option>
                </select>                
                <small class="p-error block" *ngIf="mortalidadForm.controls['loteId'].invalid &&
                    (mortalidadForm.controls['loteId'].dirty || mortalidadForm.controls['loteId'].touched)">Campo requerido *                    
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button class="cancel-button" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button class="custom-button" (click)="modalMortalidad()" label="{{ modalType }}" [disabled]="mortalidadForm.invalid"></p-button>
    </ng-template>
</p-dialog>