<div class="card">
    <div class="justify-content-between">
        <div class="h1 bg-gray-500 border-3 border-gray-400">Mortalidad</div>
    </div>

    <p-table [value]="mortalidads" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15 ]">
        <ng-template pTemplate="caption">
           <p-button class="bg-[#EC6708] rounded-xl text-white py-2 px-2"  label="Registrar" (click)="showAddModal()"></p-button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th>Animales Muertos</th>                
                <th>Observaciones</th>
                <th>Lote</th>                
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mortalidad let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{ mortalidad.animalesMuertos }}</td>
                <td>{{ mortalidad.observacion }}</td>
                <td>{{ mortalidad.lote.nombreLote }}</td>
                
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="showEdit(mortalidad.id)"></button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="eliminar(mortalidad.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <app-add-edit-mortalidad *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
        [selectedMortalidad]="selectedMortalidad" (clickClose)="hideAddModal($event)"
        (clickAddEdit)="guardaroEditarMortalidadList($event)"></app-add-edit-mortalidad>
    <p-confirmDialog header="Delete"></p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>
</div>