<div><a [routerLink] ="['/lote']">Volver a Lotes</a>   
<div class="card">
    <div class="justify-content-between">
        <div class="table">Mortalidad</div>
    </div>
    <p-table class="p-table" [value]="mortalidad" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30]">        
        <ng-template pTemplate="caption">
            <div class="header-container">
                <div class="search-container">
                  <span class="search">
                    <i class="pi pi-search"></i>
                  </span>
                  <input type="text" pInputText placeholder="Buscar mortalidades" [(ngModel)]="filtro"
                    (input)="onFiltroChange($event)" />
                </div>
            <p-button class="custom-button" label="Registrar una mortalidad" (click)="showAddModal()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>N°</th>
                <th>Fecha de muerte</th>
                <th>Animales muertos</th>                
                <th>Observaciones</th>
                <th>Lote</th>                
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mortalidad let-rowIndex="rowIndex">
            <tr class="items">
                <td>{{rowIndex + 1}}</td>
                <td>{{ mortalidad.fechaCreacion }}</td>
                <td>{{ mortalidad.pecesMuertos }}</td>
                <td>{{ mortalidad.observacion }}</td>
                <td>{{ mortalidad.loteLote }}</td>
                <td>
                    <div class="option">
                        <button pButton icon="pi pi-pencil" class="edit" (click)="showEdit(mortalidad.id)"></button>
                        <button pButton icon="pi pi-trash" class="delete" (click)="eliminar(mortalidad.id)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-agregar-editar-mortalidad *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
        [mortalidadSeleccionada]="mortalidadSeleccionada" (clickClose)="hideAddModal($event)"
        (clickAddEdit)="agregarEditarMortalidad($event)"></app-agregar-editar-mortalidad>
    <p-confirmDialog header="Delete"></p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>
</div>