<div class="card">
  <div class="justify-content-between">
    <div class="table">Usuarios</div>
  </div>
  <p-table class="p-table" [value]="usuario" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template pTemplate="caption">
      <div class="header-container">
        <div class="search-container">
          <span class="search">
            <i class="pi pi-search"></i>
          </span>
          <input type="text" pInputText placeholder="Buscar usuarios" [(ngModel)]="filtro"
            (input)="onFiltroChange($event)" />
        </div>
        <p-button class="custom-button" label="Registrar un usuario" (click)="showAddModal()"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="border-2 border-gray-300 w-6/12">
        <th>N°</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-usuario>
      <tr class="items">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rolName }}</td>
        <td>
          <div class="option">
            <button pButton icon="pi pi-pencil" class="edit" (click)="showEdit(usuario.id)"></button>
            <button pButton icon="pi pi-trash" class="delete" (click)="eliminarUsuario(usuario.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-agregar-editar-usuario *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
    [usuarioSeleccionado]="usuarioSeleccionado" (clickClose)="hideAddModal($event)"
    (clickAddEdit)="agregarEditarUsuario($event)"></app-agregar-editar-usuario>
  <p-confirmDialog header="Delete"></p-confirmDialog>
  <p-toast position="bottom-right"></p-toast>
</div>