<div><a [routerLink] ="['/pesca']">Pesca de peces</a>        
<div><a [routerLink] ="['/mortalidad']">Mortalidad de peces</a>        
<div class="card">
    <div class="justify-content-between">
        <div class="table">Lote</div>
    </div>
    <p-table class="p-table" [value]="lote" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template pTemplate="caption">
            <div class="header-container">
              <div class="search-container">
                <span class="search">
                  <i class="pi pi-search"></i>
                </span>
                <input type="text" pInputText placeholder="Buscar lotes" [(ngModel)]="filtro"
                  (input)="onFiltroChange($event)" />
              </div>
              <p-button class="custom-button" label="Registrar un lote" (click)="showAddModal()"></p-button>
            </div>
          </ng-template>
        <ng-template pTemplate="header">
            <tr class="border-2 border-gray-300 w-6/12">
                <th>N°</th>
                <th>Nombre Lote</th>
                <th>Fecha de Siembra</th>
                <th>Días Cultivados</th>
                <th>Peces Iniciales</th>
                <th>Número Peces</th>
                <th>Especie</th>
                <th>Unidad Productiva</th>
                <th>Proveedor</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowIndex="rowIndex" let-lote>
            <tr class="items">
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ lote.lote }}</td>
                <td>{{ lote.fechaSiembra }}</td>
                <td>{{ lote.diasCultivados }}</td>
                <td>{{ lote.pecesIniciales }}</td>
                <td>{{ lote.numeroPeces }}</td>
                <td>{{ lote.especieEspecie }}</td>
                <td>{{ lote.unidadProductivaUnidadP }}</td>
                <td>{{ lote.proveedorRazonSocial }}</td>
                <td>
                    <div class="option">
                        <button pButton icon="pi pi-pencil" class="edit" (click)="showEdit(lote.id)"></button>
                        <button pButton icon="pi pi-trash" class="delete" (click)="eliminarLote(lote.id)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-agregar-editar-lote *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
        [loteSeleccionado]="loteSeleccionado" (clickClose)="hideAddModal($event)"
        (clickAddEdit)="agregarEditarLote($event)"></app-agregar-editar-lote>
    <p-confirmDialog header="Delete"></p-confirmDialog>
    <p-toast position="bottom-right"></p-toast>
</div>