<p-dialog header="{{ modalType }} Pesca" [(visible)]="displayAddEditModal" [modal]="true" [draggable]="false"
    [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="pescaForm" class="form">
        <div class="row">            
            <div class="field">
                <label class="block" for="pecesPescados">Peces pescados</label>
                <input id="pecesPescados" class="input" type="text" pInputText formControlName="pecesPescados">
                <small class="p-error block" *ngIf="pescaForm.controls['pecesPescados'].invalid &&
                    pescaForm.controls['pecesPescados'].dirty">Campo requerido *
                </small>
            </div>
            <div class="field">
                <label class="block" for="pesoPromedio">Peso promedio (Lb)</label>
                <input id="pesoPromedio" name="pesoPromedio" type="text" pInputText formControlName="pesoPromedio">
                <small class="p-error block" *ngIf="pescaForm.controls['pesoPromedio'].invalid &&
                    pescaForm.controls['pesoPromedio'].dirty">Campo requerido *
                </small>
            </div>
            <div class="field">
                <label class="block" for="loteId">Lote</label>
                <select id="loteId" class="select" name="loteId" formControlName="loteId">
                    <option [ngValue]="null" disabled>Seleccionar una opción</option>
                    <option *ngFor="let lote of lote" [value]="lote.id"> {{ lote.lote }}</option>
                </select>
                <small class="p-error block" *ngIf="pescaForm.controls['loteId'].invalid &&
                    (pescaForm.controls['loteId'].dirty || pescaForm.controls['loteId'].touched)">Campo requerido *
                </small>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button class="cancel-button" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button class="custom-button" (click)="modalPesca()" label="{{ modalType }}" [disabled]="pescaForm.invalid"></p-button>
    </ng-template>
</p-dialog>