<div class="card">
  <div class="justify-content-between">
    <div class="table">Proveedores</div>
  </div>

  <p-table [value]="proveedor" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template pTemplate="caption">
      <div class="header-container">
        <div class="search-container">
          <span class="search">
            <i class="pi pi-search"></i>
          </span>
          <input type="text" pInputText placeholder="Buscar provedores" [(ngModel)]="filtro"
            (input)="onFiltroChange($event)" />
        </div>
        <p-button class="custom-button" label="Registrar un proveedor" (click)="showAddModal()"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr class="border-2 border-gray-300 w-6/12">
        <th class="border-2">N°</th>
        <th class="border-2">Razón Social</th>
        <th class="border-2">Nombre</th>
        <th class="border-2">Apellido</th>
        <th class="border-2">Correo</th>
        <th class="border-2">Teléfono</th>
        <th class="border-2">Dirección</th>
        <th class="border-2">Número de Identificacion</th>
        <th class="border-2">Tipo de Identificacion</th>
        <th class="border-2">Tipo de Proveedor</th>
        <th class="border-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-proveedor>
      <tr class="hover:bg-gray-300 cursor-pointer duration-300">
        <td class="border-2">{{ rowIndex + 1 }}</td>
        <td class="border-2">{{ proveedor.razonSocial }}</td>
        <td class="border-2">{{ proveedor.nombre }}</td>
        <td class="border-2">{{ proveedor.apellido }}</td>
        <td class="border-2">{{ proveedor.email }}</td>
        <td class="border-2">{{ proveedor.telefono }}</td>
        <td class="border-2">{{ proveedor.direccion }}</td>
        <td class="border-2">{{ proveedor.numeroIdentificacion }}</td>
        <td class="border-2">{{ proveedor.tipoIdentificacionName }}</td>
        <td class="border-2">{{ proveedor.tipoProveedorName }}</td>
        <td class="border-2">
          <div class="option">
            <button pButton icon="pi pi-pencil" class="edit" (click)="showEdit(proveedor.id)"></button>
            <button pButton icon="pi pi-trash" class="delete" (click)="eliminarProveedor(proveedor.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-agregar-editar-proveedor *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
    [selectedProveedor]="selectedProveedor" (clickClose)="hideAddModal($event)"
    (clickAddEdit)="agregarEditarProveedor($event)"></app-agregar-editar-proveedor>
  <p-confirmDialog header="Delete"></p-confirmDialog>
  <p-toast position="bottom-right"></p-toast>
</div>