<div class="card">
  <div class="justify-content-between">
    <div class="table">Unidades Productivas</div>
  </div>
  <p-table class="p-table" [value]="unidad" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template pTemplate="caption">
      <div class="header-container">
        <div class="search-container">
          <span class="search">
            <i class="pi pi-search"></i>
          </span>
          <input type="text" pInputText placeholder="Buscar unidades productivas" [(ngModel)]="filtro"
            (input)="onFiltroChange($event)">
        </div>
        <p-button class="custom-button" label="Registrar una unidad productiva" (click)="showAddModal()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>N°</th>
        <th>Nombre del estanque</th>
        <th>Coordenadas</th>
        <th>Área</th>
        <th>Profundidad</th>
        <th>Observaciones</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-unidadP>
      <tr class="hover:bg-gray-300 cursor-pointer duration-300">
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ unidadP.unidadP }}</td>
        <td>{{ unidadP.coordenadas }}</td>
        <td>{{ unidadP.area }}</td>
        <td>{{ unidadP.profundidad }} Mts</td>
        <td>{{ unidadP.observacion }}</td>
        <td>{{ verEstado(unidadP.estado) }}</td>
        <td>
          <div class="option">
            <button pButton icon="pi pi-pencil" class="edit" (click)="showEdit(unidadP.id)"></button>
            <button pButton icon="pi pi-trash" class="delete" (click)="eliminarUnidad(unidadP.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <app-agregar-editar-unidad *ngIf="displayAddEditModal" [displayAddEditModal]="displayAddEditModal"
    [unidadSeleccionada]="selectedUnidad" (clickClose)="hideAddModal($event)"
    (clickAddEdit)="agregarEditarUnidad($event)"></app-agregar-editar-unidad>
  <p-confirmDialog header="Delete"></p-confirmDialog>
  <p-toast position="bottom-right"></p-toast>
</div>